# Scraping historical interest rates from BNM

- Region: Malaysia
- Data period: 2004 to 2023

In [ ]:
from tqdm import tqdm
import pandas as pd

from helpers import DATA_DIR

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [4]:
driver = webdriver.Chrome()
driver.get("https://www.bnm.gov.my/monetary-stability/opr-decisions")

In [5]:
interest_rates = []

for i in tqdm(range(1000), total=1000):
    try:
        date = driver.find_element(By.XPATH, f'//*[@id="portlet_com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_INSTANCE_ApX2WU8vPGJI"]/div/div[2]/div/div[2]/div/table/tbody/tr[{i+3}]/td[1]').text
        opr_change = driver.find_element(By.XPATH, f'//*[@id="portlet_com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_INSTANCE_ApX2WU8vPGJI"]/div/div[2]/div/div[2]/div/table/tbody/tr[{i+3}]/td[2]').text
        new_opr = driver.find_element(By.XPATH, f'//*[@id="portlet_com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_INSTANCE_ApX2WU8vPGJI"]/div/div[2]/div/div[2]/div/table/tbody/tr[{i+3}]/td[3]').text

        interest_rates.append([date, opr_change, new_opr])
    except:
        pass

driver.close()
interest_rates[:2]

100%|██████████| 1000/1000 [00:25<00:00, 39.06it/s]

[['06 Jul 2023', '0', '3.00'], ['03 May 2023', '+0.25', '3.00']]

In [9]:
column_names = ['date', 'opr_change_percentage', 'new_opr_percentage']

df = pd.DataFrame(interest_rates, columns=column_names)
df

            date opr_change_percentage new_opr_percentage
0    06 Jul 2023                     0               3.00
1    03 May 2023                 +0.25               3.00
2    09 Mar 2023                     0               2.75
3    19 Jan 2023                     0               2.75
4    03 Nov 2022                 +0.25               2.75
..           ...                   ...                ...
117  25 May 2005                     0               2.70
118  28 Feb 2005                     0               2.70
119  30 Nov 2004                     0               2.70
120  25 Aug 2004                     0               2.70
121  26 May 2004                     0               2.70

[122 rows x 3 columns]

In [10]:
df.to_excel(DATA_DIR / 'opr_historical.xlsx', index=False)